body{
    background-color: rgb(255, 183, 0);
    font: normal 15pt Arial;
    color: white;
}
header{
    text-align: center;
}
section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    color: black;
}
footer{
    text-align: center;
    font-style: italic;

}
div{
    text-align: center;
}